
{% extends 'material/base.html' %}
{% load static %}
{% block titulo %}Home{% endblock %}
{% block conteudo %} 
<!-- CONTENT -->
      <div class="container">
     
        <div class="row">
        
          <div class="col-md-3">
         
          </div>
          <div class="col-md-6">
            <div class="jumbotron">
              <h1>SELOG</h1>
              <p>Seção de Logística - Procuradoria da República em Pernambuco</p>
            </div>
        </div>
        </div>
      </div>
{% endblock %}